{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "crlf",
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": false
}
