@import "tailwindcss";
@import "tw-animate-css";

@import "./theme.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  kbd {
    @apply inline-flex items-center rounded border border-border bg-muted px-1 py-0.5 text-xs font-sans not-last:me-0.5 font-medium text-foreground tracking-normal;
  }
}
