@layer components {
  h1 {
    @apply scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance;
  }

  h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
}
